ServiceTracker.Core/.vs/config/applicationhost.config
ServiceTracker.Core/.vs/ServiceTracker.Core/v15/Server/sqlite3/storage.ide-wal
ServiceTracker.Core/.vs/ServiceTracker.Core/v15/Server/sqlite3/storage.ide-shm
ServiceTracker.Core/.vs/ServiceTracker.Core/v15/Server/sqlite3/storage.ide
ServiceTracker.Core/.vs/ServiceTracker.Core/v15/Server/sqlite3/db.lock
ServiceTracker.Core/.vs/ServiceTracker.Core/v15/.suo
